* {
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}

html, body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header {
  background-color: #1F2937;
  padding: 1rem 15rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

#header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F9FAF8;
}

#navbar {
  display: flex;
  list-style-type: none;
}

.nav-item a{
  font-size: 1.125rem;
  color: #E5E7EB;
  opacity: 0.8;
  text-decoration: none;
  margin-left: 0.75rem;
}

#hero {
  background-color: #1F2937;
  padding: 8rem 15rem 10rem 15rem;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

#hero-content {
  flex: 48%;
  padding-right: 5rem;
}

#hero-header {
  font-size: 3rem;
  font-weight: 900;
  color: #F9FAF8;
}

#hero-subtext {
  margin-top: 0.3rem;
  font-size: 1.125rem;
  color: #E5E7EB;
  opacity: 0.8;
}

#hero-image {
  flex: 60%;
  background-color: rgb(90, 99, 108);
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin-top: 0.75rem;
  border: none;
  border-radius: 0.5rem;
}

#information {
  padding: 4rem 24rem 2rem 24rem;
}

#information-header {
  color: #1F2937;
  font-size: 2.25rem;
  font-weight: 900;
  text-align: center;
}

.information-container {
  margin-top: 2rem;
  width: 100%;
  gap: 4%;
  display: flex;
}

.information-card {
  flex: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-placeholder {
  width: 100%;
  height: 10rem;
  border: 0.25rem #3882F6 solid;
  border-radius: 1rem;
}

.information-subtext {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.125rem;
}

#quote {
  margin-top: 5rem;
  background-color: #E5E7EB;
  padding: 8rem 24rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#quote-text {
  color: #1F2937;
  font-size: 2.25rem;
  font-weight: light;
  font-style: italic;
}

#quote-author {
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 900;
}

#call-to-action {
  background-color: #3882F6;
  margin: 8rem 16rem;
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

#cta-header {
  color: #F9FAF8;
  font-size: 1.5rem;
}

#cta-subtext {
  margin-top: 0.2rem;
  color: #E5E7EB;
  font-size: 1.125rem;
}

#cta-button {
  background-color: inherit;
  color: #F9FAF8;
  font-size: 1.125rem;
  font-weight: 500;
  border: 3px solid #F9FAF8;
  padding: 0.4rem 2rem;
  border-radius: 0.5rem;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 1.125rem;
  padding: 3rem 0;
  text-align: center;
}